*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Open Sans';
}
.main{
    background-image: url('body.png');
    background-position: center;
    background-size: cover;
}

/* -NAVBAR- */
.navbar{
    display: flex;
    align-items: center;
    background-color:#446699;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}
.logo {
    width: 45px;
    margin-left: 12px;
}
.navtext{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 25px;
    font-size: 14px;
}
.navtext a {
    text-decoration: none;
    color: #FFFF;
}

/* -HERO- */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 0px 100px 0px;
    padding-top: 120px;
    background-image: url('1.jpg');
    /* width: 100%; */
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #0a2436;
}
.hero p {
    font-size: 17px;
}
.herobtn{
    width: auto;
    align-self:baseline;
    margin: 20px 0px;
    padding: 10px 20px ;
    border-radius: 5px;
    color: #FFFF;
    background-color: #3c9964;
    font-size: 15px;
    margin-left: 15px;
}

/* -ABOUT US- */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    color: #0a2436;
    font-size: 30px;
}
.featureselements{
    padding-top: 40px;
    display: flex;
    gap:30px;
}
.featureselements a  {
    display: flex;
    gap: 15px;
  text-decoration: none;
  color: #0a2436;

}
.featureselements a i{
    font-size: 25px;
    padding: 11px 0px ;
}
.featurescard p {
    margin-top: 8px;
    font-size: 15px;
}
.featurescard h1{
    font-size: 19px;
}
.featurescard{
    background: rgb(245, 242, 242);
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: 1s ease;
    font-size:  9px;
}
.featurescard:hover{
    transform: translateY(-10px);
}

/* -CARDS- */

.card img{
    border-radius: 10px;
    width: 95%;
    object-fit: cover;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    align-items: center;
    text-align: center;
    background: rgb(245, 242, 242);
    /* width: auto; */
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    font-size: 12px;
    transition: all 1s ease-in;
}
.card:hover{
    scale: calc(1.05);

}

.cards{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 90px;
}
.titel2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titel2::after{
    content: '';
    flex:1 ;
    height: 1px;
    background-color:#0a2436 ;
}
.titel2::before{
    content: '';
    flex:1 ;
    height: 1px;
    background-color:#0a2436 ;
}

.card p{
    /* background: #3c9964; */
    background: rgb(231, 231, 236);
    border-radius: 3px;
    padding: 10px 70px;
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.5);
    font-size: 15px;
}
.select{
    color:#0a2436 ;
    text-align: center;
    height: 30px;
    width: 180px;
    background: #FFFF;
    border-radius: 5px;
}
.ourproducts{
    text-align: center;
    color: #0a2436;
    margin-top: 60px;
    
}
.cardbtn{
    color:#FFFF ;
    text-align: center;
    height: 25px;
    width: 175px;
    background: #3c9964;
    border-radius: 5px;
    border-color: grey;
    cursor: pointer;
}

/* - YOUR ORDER - */

.order{
    align-items: center; 
    display: grid;
    grid-template-columns: 190px 15px 50px 15px  100px;
    margin-bottom: 15px;
    
}
.order  h1{
 font-size: 17px;
}
.order  p{
 padding-left: 15px;
 font-size: 17px;
}
.order button{
 height:  19px;
 text-align: center;
 border: 1px solid gray;
 border-radius: 0px;
 cursor: pointer;
}
.order  input{
 /* width: 50px; */
 height: 17px;
 border: 1px solid gray;
 border-radius: 0px;
 padding-left: 5px;
 color: #0a2436;
}
.yourorder{
    display: flex;
    flex-direction: column; 
    width: 50%;
    gap: 10px;
    margin-left: 50px;
    color: #0a2436 ;
}
.orders{
    padding: 20px 30px; 
    margin-left: 15px;
    background: rgb(245, 242, 242);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);

}
.totalprice1{
    background: #3c9964;
    /* background: rgb(231, 231, 236); */
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 70px;
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.5);
    font-size: 20px;
    color: #FFFF;
}
.ordertitel{
    display: flex;
    align-items: center;
    padding: 0px 0px  15px 20px;
    font-size: 40px
}
.ordertitel::after{
    content: '';
    flex:1 ;
    height: 0.5px;
    background-color:#0a2436 ;
    margin-left: 10px;
}
.order-offer{
    display: flex;
    gap: 30px;
    padding-top: 60px;
    
}

/* -OFFERS- */
.offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: #0a2436;
    margin-top: 50px;
}
.offers h1{
    margin-bottom: 20px;
}
.offercard{
    padding: 10px 15px  30px; 
    background: rgb(245, 242, 242);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    font-size: 20px;
}
.offer{
    padding: 15px 120px; 
    margin: 2px 2px 10px;
    background: rgb(253, 253, 253);
    border-radius: 10px;
    border-color: transparent;
    font-size: 20px;
}
.totalprice2{
    background: #3c9964;
    /* background: rgb(231, 231, 236); */
    border-radius: 3px;
    margin-top: 30px;
    padding: 10px 70px;
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.5);
    font-size: 25px;
    color: #FFFF;
}
.offersbtn{
    display: inline-flex;
    background:rgb(245, 242, 242);
    border-radius: 30px;
    padding: 5px;
}
.offersbtn button{
    border: none;
    background: transparent;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    
}
.offersbtn button.active{
    background: #3c9964;
    color: #FFFF;
}
.offerscard{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn2 2s ease-in;
    transition: all 1s ease-in;

}
.offerscard:hover{
    scale: calc(1.03);
}

/* -FORM- */
.form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 60px 0px  0px 90px;
    padding: 20px 20px; 
    background: rgb(245, 242, 242);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    color: #0a2436;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.form h1{
    padding-bottom: 30px;
    font-size: 40px;
}
.form input{
    padding: 7px 20px ;
    text-align: center;
}
.form label{
    margin-top: 4px;
    font-size: 20px;
}
.formbtn{
    margin: 20px 50px;
    padding: 10px;
    border-radius: 5px;
    color: #FFFF;
    background-color: #3c9964;
}

/* -USERS- */
.users{
    display: flex ;
    align-items: flex-start;
    padding-bottom: 40px;
}
.userscard{
    display: flex;
    flex-direction: column;
    margin: 180px 90px  0px 30px;
    min-height: 100px;
    background: rgb(245, 242, 242);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    color: #0a2436;
    animation: fadeIn 2s ease-in;
}
.usersinfo{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0px 15px 50px;
    gap: 10px;
    margin: 25px 0px 0px;
    background: rgb(253, 253, 253);
    border-color: transparent;
    font-size:  20px;
}
.userscard h1{
    text-align: center;
    margin: 20px 40px 0px;
}
.totalusers{
    display: flex;
    color: #3c9964 ;
    font-size: 25px;
    margin: 15px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* -FOOTER- */
.footer{
    display: flex;
    align-content: center;
    color: #FFFF;
    background-color: #446699;
}
.footer h1 {
    margin-top:20px ;
    margin-left: 15px;
    font-size: 10px;
    white-space: nowrap
}
.footericons{
    width: 100vw;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 15px 30px;
}
footer a{
    text-decoration: none;
    color: #FFFF;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn2{
    from{
        opacity: 0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width : 768px){

    .navbar{
        width: 100vw;
        height: auto;
    }
    .navtext{
        gap: 15px;
        margin-right: 15px;
        font-size: 12px;
    }
    .logo{
        margin: 5px 5px ;
        
        width: 40px;
    }
  
    /* Hero */
    .hero{
        padding: 80px 20px;
        font-size: 13px;
        height: auto;
    }
    .hero p{
        font-size: 11px;
    }
    .herobtn{
        margin-left: 0;
        align-self: center;
        padding: 10px 15px;
    }
  
    /* Features */
    .featureselements{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .featurescard{
        width: 80%;
        font-size: 14px;
        padding: 20px;
    }
  
    /* Cards */
    .cards{
        flex-direction: column;
        gap: 80px;
        padding: 20px 0;
    }
    .card{
        width: 70%;
        /* height: 50vh; */
        align-self: center;
    }
    .titel2{
        margin-bottom: 30px;
    }
  
    
    /* Orders */
    .order-offer{
        flex-direction: column;
    }
    .order  h1{
        font-size: 11px;
    }
    .order  p{
        font-size: 13px;
    }
    .totalprice1{
        /* margin-top: 20px;
        padding: 10px 70px; */
        font-size: 10px;
    }
    .yourorder{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .order{
        gap: 0px;
        grid-template-columns: 130px 15px 40px 15px  110px;
    }
  
    /* Offers */
    .offers{
        /* width: 90%; */
        margin: 30px auto;
    }
    .offercard{
        width: 80%;
        padding:auto;
        font-size: 20px;
    }
    .offer{
        font-size: 15px;
        white-space: nowrap ;
    }
    .totalprice2{
        font-size: 13px;
        text-align: center;
    }
    .offerscard:hover{
        scale: calc(1.02);
    }


    /* Form */
    .users{
        flex-direction: column;
    }
    .form{
        width: 70%;
        margin: 30px auto;
    }
    .form h1{
        padding-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }
    .form input{
        margin-bottom:0px;
    }
    .form label{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .form-input{
        gap: 0px;
        font-size: 10px;
    }

    /* -USERS- */
    .users{
        padding-bottom: 0px;
    }
    .userscard{
        width: 80%;
        margin: 20px 30px 50px 30px;
    }

    /* Footer */
    .footericons{
        gap: 15px;
        padding: 15px;
    }
}




